body{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(193, 227, 250);
    height: 100vh;
}

#title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

#clock-container{
    /* font-family: 'Digital-7 Mono', sans-serif; */
    font-family: 'Digital-7', sans-serif;
    /* font-family: 'Digital-7 Italic', sans-serif; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #000000;
    width: 42rem;
    padding-bottom: 1rem;
}



#title{
    font-family: "Arial", sans-serif;
    font-size: 4rem;
    margin-top: 20px;
    margin-bottom: 30px;
}

#clock{
    font-family: 'Digital-7 Mono', sans-serif;
    /* font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
    font-size: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 10px 0px;
    width: 25rem;
    color: white;
}

#startBtn, #stopBtn, #resetBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Digital-7 Italic', sans-serif;
    text-shadow: 2px 2px 2px hsla(0, 15%, 88%, 0.75);
    margin: 10px 0px 10px 0px;
    transition: all ease-in-out 0.3s;
}

#controls button{
    background: hsla(0, 15%, 88%, 0.90);
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    min-width: 125px;
    margin: 10px;
    border: none;
}

#controls button:hover{
    background: hsla(0, 10%, 95%, 0.95);
}

#startBtn:hover, #stopBtn:hover, #resetBtn:hover{
    transition: all ease-in-out 0.3s;
}

#startBtn:hover{
    transform: translate3d(-3px, -3px, 0);
    box-shadow: rgba(224, 224, 224, 0.16) 0px 10px 36px 0px, rgba(223, 223, 223, 0.06) 0px 0px 0px 1px;
}

#stopBtn:hover{
    transform: translate3d(0, -3px, 0);
    box-shadow: rgba(224, 224, 224, 0.16) 0px 10px 36px 0px, rgba(223, 223, 223, 0.06) 0px 0px 0px 1px;
}

#resetBtn:hover{
    transform: translate3d(3px, -3px, 0);
    box-shadow: rgba(224, 224, 224, 0.16) 0px 10px 36px 0px, rgba(223, 223, 223, 0.06) 0px 0px 0px 1px;
}